<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

<body class="sub_page">

  <div class="hero_area">
    <header th:replace="fragments/header :: header">
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="post">
        <h3> <a th:text="${post.title}">Title</a></h3>
        <h5 th:text="'Author: ' + ${post.account.firstName} + 
        ' | Created at: ' + ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')} +
        ' | Updated on: ' + ${#temporals.format(post.updatedOn, 'yyyy-MM-dd HH:mm')}" ></h5>
        <p th:utext="${post.body}">body</p>
        <hr color="grey"/>
        <div sec:authorize="isAuthenticated()" th:if="${isOwner}">
          <a th:href="@{'/posts/' + ${post.postId} + '/edit'}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Edit</a>
        </div>        
      </div>
    </div>
  </section>

  <!-- end about section -->
  <footer th:replace="fragments/footer :: footer">



</body>
</html>